<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<!--    <div th:each=" i: ${items}">-->
        <div>
            <p>lorem ipsum</p>

<!--            <h4 th:text="${i.date}"></h4>-->
<!--            <h3 th:text="${i.title}"></h3>-->
        </div>
    <div th:each=" k : ${items2}">
        <h4 th:text="${k.title}"></h4>
        <h4 th:text="${k.date}"></h4>

    </div>





</body>
</html>